<h2>Sales Page</h2>

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input type="date" formControlName="startDate" aria-label="startDate" name="startDate">
    <input type="date" formControlName="endDate" aria-label="endDate" name="endDate">
    <button type="submit">Search</button>
</form>

<ng-container *ngIf="{sales: sales$ | async, error: salesError$ | async} as data">
    <ng-container *ngIf="data.sales; else loading">
            <table class="sales-data">
                <thead>
                    <tr>
                        <th>Car Name</th>
                        <th>Car Colour</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sale of data.sales">
                        <td>{{sale.carName}}</td>
                        <td>{{sale.carColour}}</td>
                        <td>{{sale.month}}</td>
                        <td>{{sale.year}}</td>
                        <td>{{sale.quantity}}</td>
                    </tr>
                </tbody>
            </table>
    </ng-container>

    <ng-template #loading>
      <div class="sales-loading" *ngIf="!data.error">
        Fetching Data ...
      </div>
      <div class="sales-error" *ngIf="data.error">
        Something went wrong (┬┬﹏┬┬)
      </div>
    </ng-template>
</ng-container>